a{cursor: pointer}

table {
  font-size: 14px;
}

table td{
  height: 37px;
  padding-left: 5px;
  padding-right: 5px;
}

body{
	color: #373737 !important;
	font-size: 16px !important;
	line-height: 1.5 !important;
}

#fiteagleBody{
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 2%;
	background: white;
	max-width: 1000px;
}

#page{
	background: #e2e2e2;
  min-height: 100%;
}

#aside{
  min-height:100%;
}

#marginTop{
	height: 2%;
}

#rememberMeCheckboxLabel{
	position:relative;
	top:-10px;
	font-size: 14px !important;
}

#deleteUserProfileModal .modal-body{padding:20px 0 20px 0}

.alert{margin-bottom:10px !important}

#fiteagleBody a:hover{
	color: #f09030;
	text-decoration:none;
}

.btn {
	color: white;
}

ul li a{
	color: #373737;
}
ul li a:hover, ul li a:focus{text-decoration: none;}

h4{margin-bottom:5px !important}

.fa {padding-right:5px;}

.left20{margin-left: 20px}
.left40{margin-left: 40px !important}
.top10{margin-top:10px}
.top20{margin-top:20px}
.padding3pc{padding:0 3% 0 3%}
.margin3pc{margin: 0 3% 0 3%}
#loginErrors .errorMessage{margin-bottom: 5px}
.modal-body .errorMessage{margin-bottom: 0px}
.errorMessage{margin-bottom:20px}
.nopadding{padding:0 !important;}
.nomargin{margin:0 !important}

.margin3{
  margin-top: 3px ! important;
  margin-right: 3px ! important;
  margin-left: 3px ! important;
  margin-bottom: 3px ! important;
}

.horizontal{list-style-type: none}

.horizontal li {display:inline}

.underlined{text-decoration:underline}

.placeholder{padding-left:30px}

.centered{
	text-align: center !important;
}

.hidden{display:none}

#unifiMap{
	width: 100%;
}

#toolbar{
	  color:white;
		cursor: pointer;
		padding-right: 20px
}
		
#userInfoDropdown li.active a{
	background-color: #d07010;
	background-image: -moz-linear-gradient(top,#f09030,#d07010);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#f09030),to(#d07010));
	background-image: -webkit-linear-gradient(top,#f09030,#d07010);
	background-image: -o-linear-gradient(top,#f09030,#d07010);
	background-image: linear-gradient(to bottom,#f09030,#d07010);
}
#userInfoDropdown li a:hover{
  background-color: #d07010;
  background-image: -moz-linear-gradient(top,#f09030,#d07010);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#f09030),to(#d07010));
  background-image: -webkit-linear-gradient(top,#f09030,#d07010);
  background-image: -o-linear-gradient(top,#f09030,#d07010);
  background-image: linear-gradient(to bottom,#f09030,#d07010);
}

.dropdown-menu>li>a:focus{
	background-color: #d07010 !important; 
  background-image: -moz-linear-gradient(top,#f09030,#d07010) !important;
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#f09030),to(#d07010)) !important;
  background-image: -webkit-linear-gradient(top,#f09030,#d07010) !important;
  background-image: -o-linear-gradient(top,#f09030,#d07010) !important;
  background-image: linear-gradient(to bottom,#f09030,#d07010) !important;
}
.dropdown-menu>li>a:hover{
	color: #fff !important;
  background-color: #d07010 !important;
  background-image: -moz-linear-gradient(top,#f09030,#d07010) !important;
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#f09030),to(#d07010)) !important;
  background-image: -webkit-linear-gradient(top,#f09030,#d07010) !important;
  background-image: -o-linear-gradient(top,#f09030,#d07010) !important;
  background-image: linear-gradient(to bottom,#f09030,#d07010) !important;
}

#userInfoDropdown li a{padding-top:10px; padding-bottom: 10px}

#userInfoPanel{padding: 10px 0px 5px 0}

#aside{border-right: 1px solid #d1d1d1;}

#logos{
	height: 120px;
}

#avLogoLabel{
	font-size: 13px;
	margin-top: 18px;
	font-style: italic;
	margin-bottom: 0 !important;
}

#avLogo{
  width: auto;
  height: 55px;
}

#unifiLogo{
  margin-top: 10px;
  width: auto;
  height: 100px;
}

#navigation{
	width: 100%;
	background: -moz-linear-gradient(top, #252525, #0a0a0a);
	background: -webkit-linear-gradient(top, #252525, #0a0a0a);
	background: -ms-linear-gradient(top, #252525, #0a0a0a);
	background: -o-linear-gradient(top, #252525, #0a0a0a);
	background: linear-gradient(top, #252525, #0a0a0a);
}
#navs .navbutton{
	margin-bottom: 0;
}

#navs .navbutton>li>a{
	color: white;
	height: 40px;
	display: table-cell;
  vertical-align: middle;
  width: 14%;
}
#navs .navbutton>.active>a {
  font-weight: bold;
}
#navs .navbutton>li>a:hover {
	color:#212121;
	background: -moz-linear-gradient(top, #ffffff, #cccccc);
  background: -webkit-linear-gradient(top, #ffffff, #cccccc);
  background: -ms-linear-gradient(top, #ffffff, #cccccc);
  background: -o-linear-gradient(top, #ffffff, #cccccc);
  background: linear-gradient(top, #ffffff, #cccccc);
}

.black{
  color: #373737;
}

.invalid{
	border: 1px solid red !important;
}

#saveProfileLoadingSign{
	position: relative;
	top: 10px;
	left:10px;
}

.container{
	  width: 175px !important;
}

#generatedPrivateKey{margin-top: 40px}

#resources{
	position: relative;
	height: 600px;
}

#resources .window {
    background-color:white;
    border:1px solid #373737;
    box-shadow: 2px 2px 19px #e0e0e0;
    -o-box-shadow: 2px 2px 19px #e0e0e0;
    -webkit-box-shadow: 2px 2px 19px #e0e0e0;
    -moz-box-shadow: 2px 2px 19px #e0e0e0;
    -moz-border-radius:0.5em;
    border-radius:0.5em;        
    color:black;
    padding:0.5em;
    min-width:80px; 
    min-height:80px;
    font-size: 14px;
    position: absolute;
    -webkit-transition: -webkit-box-shadow 0.15s ease-in;
    -moz-transition: -moz-box-shadow 0.15s ease-in;
    -o-transition: -o-box-shadow 0.15s ease-in;
    transition: box-shadow 0.15s ease-in;
}

#resources .window:hover {
    box-shadow: 2px 2px 19px #444;
   -o-box-shadow: 2px 2px 19px #444;
   -webkit-box-shadow: 2px 2px 19px #444;
   -moz-box-shadow: 2px 2px 19px #fff;
    opacity:0.9;
    filter:alpha(opacity=90);
}

#resources .newWindow {
	top:5%;
  left:5%;
}

#desktop a{
	color:#373737;
}

#resources a {
    border-radius:0.2em;
}

#resources a:visited {
    color: #373737;
    border-radius:0.2em;
}

#aside a {
    color: #373737;
    border-radius:0.2em;
}

#resources ._jsPlumb_overlay {
	font-size:0.8em;
}

#resources i {
	padding-left: 2px;
}

#resources .collapse {
	font-size: 12px;
}

#resources path, ._jsPlumb_endpoint .dropdown{
	cursor:pointer;
}

#courseName a:hover{
  color: #f09030;
}

#resources div::selection{
	background: transparent;
}

#resources .fa-cogs{
	float: right;
	padding-left: 15px;
}

#resources .fa-trash-o{
  float: right;
}

#resources .resourceType{
	font-weight: bold;
}

#resources .nameInput{
	font-size: 10px;
	margin-left: 3px;
	width: 120px;
}

#resources .nameInputLabel{
  font-size: 12px;
  float: left;
}

#task {
	margin-top: 10px;
}

#createtask {
  margin-top: 10px;
}


#task .pull-right{
    cursor: pointer;
    margin-right: 20px;
}

#newtask {
  margin-top: 10px;
}

#newtask .pull-right{
    cursor: pointer;
    margin-right: 20px;
}


@media (max-width:979px){
    #navs ul {margin-bottom: 20px}
    
    #aside{height:auto}
    
    h2{font-size:20}
    h3{font-size:18}
    
    .collapseHeader h3{margin-left:0%;}
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  #logoImg{ 
    margin-top:18px;
  }
  #logoTxt{
    padding-left:10px;
    margin-left: 0px !important;
  } 
  #project_title{
    font-size: 26px;
  }
  #project_tagline {
    font-size: 15px;
    margin-top: -10px;
  }
  
  #navs ul li.span3{ width: 100%;}
  #navs ul {margin-left:0 !important}
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  
  .alert{text-align:center !important}
    
  #publicKeysList .publicKey{margin-top:20px}

  .wrapper{padding: 0 20px 20px 20px}
  
  
  .thumbnail{margin-bottom:20px}
  .thumbnail.last{margin-bottom:0px}

  #main{
    overflow-x: hidden;
    margin-left: 4%;
    width:92%
  }
  #aside{border-right: none;}
  
  #loginForm {margin-top:10px;}
  label{margin:0;}
  
  .radio{ margin-bottom:20px}
  .radio:last-child{ margin-bottom:0px}
  #logoImg img{ 
    margin-left:20px;
    padding-bottom:10px;
  }
  #navs{
    margin-left:3%; 
    width: 94%;
  }
  #navs ul li{ margin-right:0px !important}
  #logoTxt{ 
    padding-left: 90px;
    margin-top: -85px;
    width: 95%;
    margin-left: 0px !important;
  }   
  #project_title{
    font-size: 25px;
  }
  #project_tagline {
    line-height: 1.5;
    font-size: 14px;
    margin-top: 3px;
  } 
}
 
/* Landscape phones and down */
@media (max-width: 480px) { 

}
